<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>PiFiles</title>

<link rel="stylesheet" href="components/pure/pure-min.css">
<link rel="stylesheet" type="text/css" href="components/pure/buttons-min.css">

<script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>



<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="components/pure/grids-responsive-min.css">
<!--<![endif]-->
 
<!--[if lte IE 8]>
    <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="css/layouts/marketing.css">
<!--<![endif]-->

<link rel="stylesheet" href="/css/reveal/reveal.css">
<link rel="stylesheet" href="/css/reveal/theme/night.css">
  
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Pi Files</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="About" class="pure-menu-link">About</a></li>
            <!-- <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li> -->
<!--             <li class="pure-menu-item"><a href="#" class="pure-menu-link">Slides</a></li> -->
            <li class="pure-menu-item"><a href="https://github.com/rainbee2214/PiFiles" class="pure-menu-link">Source</a></li>
        </ul>
    </div>
</div>

{{{body}}}

</body>
</html>
